@import url(https://db.onlinewebfonts.com/c/dd016989b56c8e6b0499c9840bd87ae4?family=Rockin%27+Record);

h1 {
	font-family: "Rockin' Record";
}

.gradient  {
	border: none !important;
}

.header-wrapper--border-bottom {
	border-top: 2px solid #f1962a !important;
}

.line {
	border-top: 2px solid #f1962a;
	position: absolute;
	width: 100%;
	top: 12%;
}

.footer-block__heading {
	color: #f1962a;
}

.footer-block ul li a{
	color: #f1962a !important;
}

.footer-block__details-content {
    color: #f1962a;
}

.header__active-menu-item {
    text-decoration: none;
}

.title-wrapper--no-top-margin>.title {
    text-align: center;
}

.card--standard>.card__content .card__information {
    text-align: center;
}

.card-information>.price {
    text-align: center;
}

.card-information {
    text-align: center;
	display: flex;
    flex-direction: column;
	align-items: center;
}

.collection__description {
	text-align: center;
}

@media screen and (min-width: 750px) {
	.footer-block__details-content {
	    font-size: 1.4rem;
	}
}

.shop-btn {
	text-decoration: none;
	color: #f1962a !important;
	border: 2px solid #f1962a;
	border-radius: 20px;
	font-weight: bold;
	padding: 5px 35px;
	margin-top: 2vh !important;
}

.shop-btn:hover {
	text-decoration: none;
}

.img-container img {
	width: 100%;
    height: auto;
}

.multicolumn .title-wrapper-with-link {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 990px) {
	.header:not(.drawer-menu).page-width {
		padding-left: 0rem;
		padding-right: 0rem;
	}

	.title, .title-wrapper-with-link {
		margin: 5rem 0 0rem;
	}
}

.title-wrapper--no-top-margin>.title {
    font-size: 1.6rem;
	font-weight: bold;
}

.full-unstyled-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

.full-unstyled-link:hover {
    text-decoration: none;
}

.header__icon, .header__icon--cart .icon {
	width: 2.4rem;
}

.header__icons {
    gap: 20px;
}

.collection-hero__text-wrapper {
	text-align: center;
}

.collection-hero__inner {
    display: flex;
    flex-direction: column !important;
}

.collection-hero--with-image .collection-hero__text-wrapper {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.product__title>* {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

.related-products__heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 2rem;
}

.button, .shopify-challenge__button, .customer button, button.shopify-payment-button__button--unbranded {
    text-transform: uppercase;
}

.accordion__title {
    font-weight: bold;
}

.accordion summary {
    border-top: 1px solid gray;
    border-bottom: 0.5px solid gray;
    margin-top: -1.5px;
}

.button, .shopify-challenge__button, .customer button, button.shopify-payment-button__button--unbranded {
    text-transform: uppercase;
    background: red;
    border-radius: 30px;
}