.gradient  {
	border: none !important;
}

.header-wrapper--border-bottom {
	border-top: 2px solid #f1962a !important;
}

.line {
	border-top: 2px solid #f1962a;
	position: absolute;
	width: 100%;
	top: 12%;
}

.footer-block__heading {
	color: #f1962a;
}