@import url(https://db.onlinewebfonts.com/c/dd016989b56c8e6b0499c9840bd87ae4?family=Rockin%27+Record);

h1 {
	font-family: "Rockin' Record";
}

.gradient  {
	border: none !important;
}

.header-wrapper--border-bottom {
	border-top: 2px solid #f1962a !important;
}

.line {
	border-top: 2px solid #f1962a;
	position: absolute;
	width: 100%;
	top: 12%;
}

.footer-block__heading {
	color: #f1962a;
}

.footer-block ul li a{
	color: #f1962a !important;
}

.footer-block__details-content {
    color: #f1962a;
}

.header__active-menu-item {
    text-decoration: none;
}

.title-wrapper--no-top-margin>.title {
    text-align: center;
}

.card--standard>.card__content .card__information {
    text-align: center;
}

.card-information>.price {
    text-align: center;
}

.card-information {
    text-align: center;
	display: flex;
    flex-direction: column;
	align-items: center;
}

.collection__description {
	text-align: center;
}

@media screen and (min-width: 750px) {
	.footer-block__details-content {
	    font-size: 1.4rem;
	}
}

@media screen and (max-width: 750px) {
	.footer-container {
		text-align: center;
	}

	.footer-block__details-content .list-menu__item--link {
		justify-content: center;
	}
}



.shop-btn {
	text-decoration: none;
	color: #f1962a !important;
	border: 2px solid #f1962a;
	border-radius: 20px;
	font-weight: bold;
	padding: 5px 35px;
	margin-top: 2vh !important;
}

.shop-btn:hover {
	text-decoration: none;
}

.img-container img {
	width: 100%;
    height: auto;
}

.multicolumn .title-wrapper-with-link {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 990px) {
	.header:not(.drawer-menu).page-width {
		padding-left: 0rem;
		padding-right: 0rem;
	}

	.title, .title-wrapper-with-link {
		margin: 5rem 0 0rem;
	}
}

.title-wrapper--no-top-margin>.title {
    font-size: 1.6rem;
	font-weight: bold;
}

.full-unstyled-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

.full-unstyled-link:hover {
    text-decoration: none;
}

.header__icon, .header__icon--cart .icon {
	width: 2.4rem;
}

.header__icons {
    gap: 20px;
}

.collection-hero__text-wrapper {
	text-align: center;
}

.collection-hero__inner {
    display: flex;
    flex-direction: column !important;
}

.collection-hero--with-image .collection-hero__text-wrapper h2 {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.product__title>* {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

.related-products__heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 2rem;
}

.button, .shopify-challenge__button, .customer button, button.shopify-payment-button__button--unbranded {
    text-transform: uppercase;
}

.accordion__title {
    font-weight: bold;
}

.accordion summary {
    border-top: 1px solid gray;
    border-bottom: 0.5px solid gray;
    margin-top: -1.5px;
}

.list-menu__item--active {
    text-decoration: none;
}

@media screen and (max-width: 1025px){
	#heading-new {
		font-size: 4rem;
	}
   
	 .text-container-new h1 {
	   font-size: 4rem;
	  }
   }

/* BUTTONS */

/* .paypal-button.paypal-button-shape-rect {
    border-radius: 30px;
} */

.button:after, .shopify-challenge__button:after, .customer button:after, .shopify-payment-button__button--unbranded:after{
	box-shadow: none;
	
}

button.shopify-payment-button__button--unbranded:hover {
	box-shadow: none !important;
	border: none !important;
}

.button:after, .shopify-challenge__button:after, .customer button:after, .shopify-payment-button__button--unbranded:hover{
	box-shadow: none !important;
	border: none !important;
}

.shopify-challenge__button, button.shopify-payment-button__button--unbranded {
    border-radius: 30px;
    border: 2px solid #f1962a;
	font-weight: bold !important;
}

.product-form__submit span {
	color: #f1962a;
	font-weight: bold;
}

.product-form__submit  {
	border-radius: 30px;
    border: 2px solid #f1962a;
}

.shopify-payment-button__button--unbranded {
	background: #f1962a !important;
}

.shopify-payment-button__button--unbranded:hover  {
	--border-opacity: none !important;
}

.product-form__input input[type=radio]+label {
    border: 2px solid gray !important;
}

.collection__title .title:not(:only-child) {
    font-size: 2em;
    letter-spacing: 2px;
}

.full-unstyled-link {
    margin-bottom: 4px;
}

.multicolumn .title {
    margin-bottom: 2vh !important;
}


.header__menu-item span:hover {
	text-decoration: none !important;
}

a:hover {
	text-decoration: none !important;
}

li:hover {
	text-decoration: none !important;
}

span:hover {
	text-decoration: none !important;
}

.list-menu li a:hover {
	text-decoration: none !important;
}
